<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sa=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title>ログイン画面</title>
</head>
<body>
<div layout:fragment="contents">
	<span th:if="${session['scopedTarget.accessUser']?.isLogged()}">ログインしました．</span>

	<form action="." method="post">
		ログイン：<input type="text" sa:field="${form.loginCd}" /><br />
			<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('loginCd')}" th:text="${e}">xxx</div>
		パスワード：<input type="password" sa:field="${form.password}" /><br />
			<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('password')}" th:text="${e}">xxx</div>
		<input type="submit" name="login" value="Login" /><br />
		<input type="submit" name="dummyLogin" value="Dummy Login" /><br />
	</form>
</div>
</body>
</html>