<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sa=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title>メニュー画面</title>
</head>
<body>
<div layout:fragment="contents">

	<a th:href="@{'/sample/hello/index'}">Hello コントローラ</a><br />
	<a th:href="@{'/sample/hello/output-report'}">帳票出力(PDF)</a><br />
	<a th:href="@{'/sample/hello/output-xls'}">帳票出力(XLS)</a><br />
	<a th:href="@{'/sample/hello/output-doxls'}">帳票出力(Dox XLS)</a><br />
	<a th:href="@{'/sample/rest/hello'}">Hello REST</a><br />
	<a th:href="@{'/sample/ad/master/cmKaisha/'}">会社マスタ</a><br />
	<a th:href="@{'/sample/ad/master/cmShain/'}">社員マスタ</a><br />
	<a th:href="@{'/sample/sendmail/'}">メール送信</a><br />
	<a th:href="@{'/sample/sendmail/log'}">メールログ送信(logback)</a><br />
	<a th:href="@{'/sample/timeapi/calc/'}">DateAndTime API Sample</a><br />

</div>
</body>
</html>