<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
<!-- <if condition='property("spring.profiles.active").equals("dev")'> -->
<if condition='isDefined("spring.profiles.active")'>
	<then><include resource="logback-${spring.profiles.active}.xml" /></then>
	<else><include resource="logback-dev.xml" /></else>
</if>
</configuration>