<!DOCTYPE HTML>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sa=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title>Getting Started: Serving Web Content</title>
</head>
<body>
<div layout:fragment="contents">
	<p th:text="'Hello, ' + ${form.fval} + '!'" />

	<h3>Basic Input</h3>
	<form action="/doxer/sample/hello/input" method="POST">
		<input type="text" sa:field="${form.fval}" />
		<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('val')}" th:text="${e}">xxx</div>
		<br />
		<input type="text" sa:field="${form.telNo},val[0]" />
		<input type="text" sa:field="${form.telNo},val[1]" />
		<input type="text" sa:field="${form.telNo},val[2]" />
		<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('telNo')}" th:text="${e}">xxx</div>
		<br />
		<input type="submit" name="send" />
		<input type="hidden" sa:token="true" />
	</form>
	<table>
		<tr><th>ID</th><th>名前</th></tr>
		<tr th:each="ret : ${form.results}"><td th:text="${ret.tcmSampleId}">1</td><td sa:i18n="${ret.sampleName}">テストA</td></tr>
	</table><br />
	<hr />

	<h3>File Upload</h3>
	<form method="POST" enctype="multipart/form-data" action="/doxer/sample/hello/upload">
		File to upload: <input type="file" th:field="${form.file}" /><br />
		Name: <input type="text" th:field="${form.fileName}" /><br />
		<input type="submit" value="Upload" /> Press here to upload the file!
	</form>
	<hr />

	<h3>File Download</h3>
	<form method="POST" action="/doxer/sample/hello/download">
		Name: <input type="text" th:field="${form.fileName}" /><br />
		<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('fileName')}" th:text="${e}">xxx</div>
		<input type="submit" value="Download" /> Press here to download the file!
	</form>

	<a href="/doxer/sample/lang/lang?lang=ja">日本語</a><br />
	<a href="/doxer/sample/lang/lang?lang=en">English</a><br />

<!-- 	<div th:include="/common/fragment/fragments :: pageLink(${page},'search',${false})">ページング</div> -->
</div>
</body>
</html>