<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<title>エラー画面</title>
</head>
<body>
<div layout:fragment="contents">
エラーが発生しました。<br />
<a th:href='@{/sample/ad/login/}'>TOPへ</a>
<div class="ErrorsProperty" th:each="e : ${#sa.allMessages()}" th:text="${e}">xxx</div>
<pre  th:if="${T(org.doxer.xbase.util._Env).isDev()}">
＜HTTPステータス＞
<span th:switch="${T(org.doxer.xbase.util._Container).httpServletResponse.status}">
<span th:case="404">404: ページが見つかりません。</span>
</span>
</pre>
<pre th:if="${T(org.doxer.xbase.util._Env).isDev()}">
＜例外内容＞
<span th:text="${causeException}">stacktraceなど</span>
</pre>
</div>
</body>
</html>