<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.doxer" />

<!-- gradleでのtestタスクが失敗するためコメント化 	<context:property-placeholder location="classpath:**/*.properties" /> -->
	<context:property-placeholder location="
		classpath:/application.properties,
		classpath:/application-#{systemProperties['spring.profiles.active']}.properties"
	/>

	<bean id="dataSource"
			destroy-method="close"
			class="org.apache.tomcat.jdbc.pool.DataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- Pooling Settings -->
		<property name="initialSize" value="3" />
		<property name="maxActive" value="5" />
		<property name="maxIdle" value="5" />
		<property name="minIdle" value="2" />
	</bean>

	<!-- Internationalization i18n -->

	<bean id="messageSource"
			class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:/application-#{systemProperties['spring.profiles.active']}</value>
				<value>classpath:/application</value>
				<value>classpath:/i18n/dictionary</value>
				<value>classpath:/i18n/messages</value>
				<value>classpath:/i18n/validations</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
	</bean>

	<bean id="localeResolver"
			class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="defaultLocale" value="ja" />
		<property name="cookieName" value="locale" />
	</bean>

	<!-- Multipart Setting -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="100000000"/>
	</bean>

	<!-- Base Setting -->

	<bean name="handlerAdapter"
			class="org.doxer.xbase.servlet.mvc.method.annotation.DoxRequestMappingHandlerAdapter">
		<property name="webBindingInitializer">
			<bean class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
<!-- 				<property name="conversionService" ref="conversionService" /> -->
				<property name="validator">
					<bean class="org.springframework.validation.beanvalidation.OptionalValidatorFactoryBean" />
				</property>
			</bean>
		</property>
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
				<bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter" />
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
				<bean class="org.springframework.http.converter.StringHttpMessageConverter" />
				<bean class="org.springframework.http.converter.ResourceHttpMessageConverter" />
				<bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
				<bean class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter" />
				<bean class="org.springframework.http.converter.support.AllEncompassingFormHttpMessageConverter" />
			</list>
		</property>
	</bean>
	<bean name="handlerMapping"
			class="org.doxer.xbase.servlet.mvc.method.annotation.DoxRequestMappingHandlerMapping">
		<property name="useTrailingSlashMatch" value="false"></property>
	</bean>

</beans>