<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head></head>
<body>
<div th:fragment="pageLink(page, action, dispIfEmpty)">
<!--/*/ <th:block th:if="${page.allRecordCount != 0 or dispIfEmpty}"> /*/-->
<!--/* 最初へ */-->
<a th:if="${page.isExistPrePage}" th:href="|@{${action}}?pageNumber=1|">&lt;&lt;</a>
<span th:if="${!page.isExistPrePage}">&lt;&lt;</span>&nbsp;
<!--/* 前へ */-->
<a th:if="${page.isExistPrePage}" th:href="|@{${action}}?pageNumber=${page.currentPageNumber - 1}|">&lt;</a>
<span th:if="${!page.isExistPrePage}">&lt;</span>&nbsp;
<!--/* ページリンク */-->
<span th:if="${#lists.isEmpty(page.pageNumberList)}">1&nbsp;&nbsp;</span>
<span th:each="navi : ${page.pageNumberList}">
	<span th:if="${navi eq page.currentPageNumber}" th:text="${navi}">2</span>
	<a th:if="${navi != page.currentPageNumber}" th:href="|@{${action}}?pageNumber=${navi}|" th:text="${navi}">2</a>
</span>&nbsp;
<!--/* 次へ */-->
<a th:if="${page.isExistNextPage}" th:href="|@{${action}}?pageNumber=${page.currentPageNumber + 1}|">&gt;</a>
<span th:if="${!page.isExistNextPage}">&gt;</span>&nbsp;
<!--/* 最後へ */-->
<a th:if="${page.isExistNextPage}" th:href="|@{${action}}?pageNumber=${page.allPageCount}|">&gt;&gt;</a>
<span th:if="${!page.isExistNextPage}">&gt;&gt;</span>
<!--/*/ </th:block> /*/-->
</div>
</body>
</html>