<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sa=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title th:if="${form.mode.code() eq application.Mode.Register}">社員登録確認画面</title>
	<title th:if="${form.mode.code() eq application.Mode.Update}"  >社員更新確認画面</title>
	<title th:if="${form.mode.code() eq application.Mode.Delete}"  >社員削除確認画面</title>
</head>
<body>
<div layout:fragment="contents">
	<form action="." method="post">
	<h3>基本情報</h3>

	<span th:if="${form.mode.code() ne application.Mode.Register}">
		社員ID:<span th:text="${form.cmShainId}">100</span><br />
	</span>

	会社:<span th:text="${#j.cmKaisha(form.cmKaishaId).kaishaMei}">サンプル会社名</span><br />
	社員名:<span th:text="${form.shainSei}">サンプル会社名</span>
			<span th:text="${form.shainMei}">サンプル会社名</span><br />
	社員名(英):<span th:text="${form.shainMeiEn}">Ichiro</span>
			<span th:text="${form.shainSeiEn}">Tanaka</span><br />

	ログインCD:<span th:text="${form.loginCd}">abc123</span><br />
	パスワード:******<br />

	<input type="submit" name="backToPrepare" value="戻る" />
	<span th:switch="${form.mode.code()}">
		<input type="submit" name="register" value="登録する" th:case="${application.Mode.Register}" />
		<input type="submit" name="update" value="更新する" th:case="${application.Mode.Update}" />
		<input type="submit" name="delete" value="削除する" th:case="${application.Mode.Delete}" />
	</span>
	<input type="hidden" sa:token="true" />
	</form>
</div>
</body>
</html>