<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sa=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title>社員一覧画面</title>
</head>
<body>
<div layout:fragment="contents">
	<form action="./search">
		社員ID：<input type="text" sa:field="${form.cmShainId}" />(完全一致)<br />
				<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('cmShainId')}" th:text="${e}">xxx</div>
		会社：
				<select th:field="${form.cmKaishaId.val}" sa:errclass="ErrorsProperty" >
					<option value="">----</option>
					<option value="1" th:each="k : ${#j.cmKaishaList()}" th:value="${k.cmKaishaId}" sa:i18n="${k.kaishaMei}">ここに会社名</option>
					<!--/*/ <th:block th:remove="all"> /*/-->
					<option value="2">bbb</option>
					<option value="3">ccc</option>
					<!--/*/ </th:block> /*/-->
				</select><br />
				<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('cmKaishaId')}" th:text="${e}">xxx</div>
		社員名：<input type="text" sa:field="${form.shainMei}" />(前方一致)<br />
				<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('shainMei')}" th:text="${e}">xxx</div>
		<input type="submit" name="search" value="検索" />
		<input type="submit" name="download" value="CSVダウンロード" />
		<label><input type="radio" sa:field="${form.compresses}" value="0" />text</label>
		<label><input type="radio" sa:field="${form.compresses}" value="1" />zip</label>
				<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('compresses')}" th:text="${e}">xxx</div>
	</form>
	<form action=".">
		<input type="submit" name="prepareRegister" value="登録" />
	</form>
	<div th:if="${not #lists.isEmpty(form.shainList)}">
	<div th:include="/common/fragment/fragments.html :: pageLink(${form.page}, 'search', ${false})">ページング</div>
	<table summary="社員一覧" class="Result">
		<thead>
			<tr>
				<th abbr="snm" class="ResultItem_Company">
					社員ID<a href="./search" sa:sortby="${application.DBMetaManager.CM_SHAIN$CM_SHAIN_ID}">▲</a>
				</th>
				<th abbr="snm" class="ResultItem_Company">
					会社<a href="./search" sa:sortby="${application.DBMetaManager.CM_KAISHA$KAISHA_MEI}">▲</a>
				</th>
				<th abbr="snm" class="ResultItem_Company">
					社員名<a href="./search" sa:sortby="${application.DBMetaManager.CM_SHAIN$SHAIN_MEI}">▲</a>
				</th>
				<th abbr="snm" class="ResultItem_Company">
					社員名(英)<a href="./search" sa:sortby="${application.DBMetaManager.CM_SHAIN$SHAIN_MEI_EN}">▲</a>
				</th>
				<th abbr="change" class="ResultItem_Button">変更</th>
				<th abbr="delete" class="ResultItem_Button">削除</th>
			</tr>
		</thead>
		<tbody th:each="cmShain : ${form.shainList}">
			<tr>
				<td class="ResultItem_Company" th:text="${cmShain.cmShainId}">1</td>
				<td class="ResultItem_Company" sa:i18n="${#j.cmKaisha(cmShain.cmKaishaId).kaishaMei}">12</td>
				<td class="ResultItem_Company" th:text="${cmShain.shainMei}">太郎</td>
				<td class="ResultItem_Company" th:text="${cmShain.shainMeiEn}">Co, Ex</td>
				<td class="ResultItem_Button">
					<form action="." method="post">
						<input type="hidden" name="cmShainId.val" th:value="${cmShain.cmShainId}" />
						<input type="submit" name="prepareUpdate" value="変更" class="ResultButton" />
					</form>
				</td>
				<td class="ResultItem_Button">
					<form action="." method="post">
						<input type="hidden" name="cmShainId.val" th:value="${cmShain.cmShainId}" />
						<input type="submit" name="confirmDelete" value="削除" class="ResultButton" />
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:include="/common/fragment/fragments.html :: pageLink(${form.page}, 'search', ${false})">ページング</div>
	</div>
	<hr />
	<form action="." enctype="multipart/form-data" method="post">
		<input type="file" name="uploadedCsvFile" /><br />
		<div class="ErrorsProperty" >
			<span th:each="e : ${#sa.messagesOfPrefix('uploadedCsvFile')}"><span  th:text="${e}">xxx</span><br /></span>
		</div>
		<input type="submit" name="upload" value="CSVアップロード" />
	</form>
</div>
</body>
</html>