<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sa=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title th:if="${form.mode.code() eq application.Mode.Register}">会社登録確認画面</title>
	<title th:if="${form.mode.code() eq application.Mode.Update}"  >会社更新確認画面</title>
	<title th:if="${form.mode.code() eq application.Mode.Delete}"  >会社削除確認画面</title>
</head>
<body>
<div layout:fragment="contents">
	<form action="." method="post">
	<h3>基本情報</h3>

	<span th:if="${form.mode.code() ne application.Mode.Register}">
		会社ID:<span th:text="${form.cmKaishaId}">100</span>
	</span>

	会社名:<span th:text="${form.kaishaMei}">サンプル会社名</span><br />
	会社名(英):<span th:text="${form.kaishaMeiEn}">Co, Ex</span><br />

	<h3>手数料</h3>
	<table th:remove="all-but-first">
		<tr th:each="tesuryo : ${form.cmKishTesuryoForms}">
			<td style="padding-right: 5px;"
				th:text="${tesuryo.tekiyoKikanFromDt}">2013/10/20</td>
			<td th:text="${tesuryo.tesuryoSu}">10.5</td>
		</tr>
		<tr>
			<td>2013/11/20</td>
			<td>12.5</td>
		</tr>
	</table>
	<br />

	<h3>連絡先</h3>
	<table>
		<tbody th:each="cmKishRenrakusakiForm, s : ${form.cmKishRenrakusakiForms}" style="border: 3px #999 solid;">
		<tr>
			<td>電話番号<span th:text="${s.count}">1</span>
				  <span th:text="${cmKishRenrakusakiForm.telNo.val[0]}">010</span>
				- <span th:text="${cmKishRenrakusakiForm.telNo.val[1]}">1111</span>
				- <span th:text="${cmKishRenrakusakiForm.telNo.val[2]}">1234</span>
				<br />
			</td>
		</tr>
		<tr><td>メールアドレス<span th:text="${s.count}">1</span>
				<span th:text="${cmKishRenrakusakiForm.mailAddress}">hello@exsample.com</span><br />
			</td>
		</tr>
		<tr>
			<td>連絡先用途<span th:text="${s.count}">1</span>
				<span th:text="${cmKishRenrakusakiForm.renrakusakiYotoKb}">緊急</span>
			</td>
		</tr>
		</tbody>
		<!--/*-->
		<tbody>
		<tr>
			<td>電話番号2
				<span>123</span>
				- <span>2345</span>
				- <span>3456</span>
			</td>
		</tr>
		<tr><td>メールアドレス2
				<input type="text" value="testexsample@exsample.com" /><br />
			</td>
		</tr>
		<tr>
			<td>連絡先用途2
				<span>緊急</span>
			</td>
		</tr>
		</tbody>
		<!--*/-->
	</table>

	<input type="submit" name="backToPrepare" value="戻る" />
	<span th:switch="${form.mode.code()}">
		<input type="submit" name="register" value="登録する" th:case="${application.Mode.Register}" />
		<input type="submit" name="update" value="更新する" th:case="${application.Mode.Update}" />
		<input type="submit" name="delete" value="削除する" th:case="${application.Mode.Delete}" />
	</span>
	<input type="hidden" sa:token="true" />
	</form>
</div>
</body>
</html>