<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sa=""
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title>会社一覧画面</title>
</head>
<body>
<div layout:fragment="contents">

<form action="./search">
	会社ID：<input type="text" sa:field="${form.cmKaishaId}" />(完全一致)<br />
<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('cmKaishaId')}" th:text="${e}">xxx</div>
	会社名：<input type="text" sa:field="${form.kaishaMei}" />(前方一致)<br />
<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('kaishaMei')}" th:text="${e}">xxx</div>
	<input type="submit" name="search" value="検索" /><br />
</form>
<form action=".">
	<input type="submit" name="prepareRegister" value="登録" />
</form>
<div th:if="${not #lists.isEmpty(form.kaishaList)}">
<div th:include="/common/fragment/fragments.html :: pageLink(${form.page}, 'search', ${false})">ページング</div>
<table summary="会社名一覧" class="Result">
	<thead>
		<tr>
			<th abbr="snm" class="ResultItem_Company">
				会社ID<a href="./search" sa:sortby="${application.DBMetaManager.CM_KAISHA$CM_KAISHA_ID}">▲</a>
			</th>
			<th abbr="snm" class="ResultItem_Company">
				会社名<a href="./search" sa:sortby="${application.DBMetaManager.CM_KAISHA$KAISHA_MEI}">▲</a>
			</th>
			<th abbr="snm" class="ResultItem_Company">
				会社名(英)<a href="./search" sa:sortby="${application.DBMetaManager.CM_KAISHA$KAISHA_MEI_EN}">▲</a>
			</th>
			<th abbr="change" class="ResultItem_Button">変更</th>
			<th abbr="delete" class="ResultItem_Button">削除</th>
		</tr>
	</thead>
	<tbody th:each="cmKaisha : ${form.kaishaList}">
		<tr>
			<td class="ResultItem_Company" th:text="${cmKaisha.cmKaishaId}">12</td>
			<td class="ResultItem_Company" th:text="${cmKaisha.kaishaMei}">株式会社イーエックス</td>
			<td class="ResultItem_Company" th:text="${cmKaisha.kaishaMeiEn}">Co, Ex</td>
			<td class="ResultItem_Button">
				<form action="." method="post">
					<input type="hidden" name="cmKaishaId.val" th:value="${cmKaisha.cmKaishaId}" />
					<input type="submit" name="prepareUpdate" value="変更" class="ResultButton" />
				</form>
			</td>
			<td class="ResultItem_Button">
				<form action="." method="post">
					<input type="hidden" name="cmKaishaId.val" th:value="${cmKaisha.cmKaishaId}" />
					<input type="submit" name="confirmDelete" value="削除" class="ResultButton" />
				</form>
			</td>
		</tr>
	</tbody>
</table>
<div th:include="/common/fragment/fragments.html :: pageLink(${form.page}, 'search', ${false})">ページング</div>
</div>
</div>
</body>
</html>